header{
    background-image: linear-gradient(to right, rgb(76, 76, 179) , rgb(78, 21, 122));
}

hr{
    margin-left: 5px;
    margin-right: 5px;
}

.forecast-box {
    background-color: rgb(202, 207, 233);
}