header{
    background-color: rgb(139, 76, 198);
}

hr{
    margin-left: 5px;
    margin-right: 5px;
}

.forecast-box {
    background-color: rgb(219, 202, 233);
}

#current-day-container {
    border: solid rgb(139, 76, 198);
}